<!DOCTYPE html>
<html xmlns:th="http://www.thyleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="navigator" th:fragment="tothebookNavigatorBar">
    <div class="main-sidebar sidebar-style-2">
        <aside id="sidebar-wrapper">
            <div class="sidebar-brand">
                <a th:href="@{/}">To the book</a>
            </div>
            <div class="sidebar-brand sidebar-brand-sm">
                <a th:href="@{/}">Tb</a>
            </div>
            <ul class="sidebar-menu">
                <li class=active>
                    <a class="nav-link" href="blank.html"><i class="far fa-square"></i><span>마이페이지</span></a>
                </li>
                <li class="dropdown">
                    <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-columns"></i> <span>드롭다운</span></a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link" href="layout-default.html">드롭다운1</a></li>
                        <li><a class="nav-link" href="layout-transparent.html">드롭다운2</a></li>
                    </ul>
                </li>
            </ul>
        </aside>
    </div>
</div>
</body>
</html>